:root {
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --border-radius-md: 10px;
    --border-radius-sm: 5px;
    --transition-timing: 0.2s ease;
}




.blog_main_container {
    /* width: 100%;
    display: flex; */
    /* background: rgb(135, 135, 34); */
    /* margin-top: 60px;
    margin-bottom: 60px;
    height: 300px; */

    width: 95%;
    display: flex;
    /* background: rgb(135, 135, 34); */
    margin-top: 60px;
    margin-bottom: 60px;
    /* height: 300px; */
    height: 340px;
    /* margin: 60px auto; */
    margin: 30px auto;
    padding: 4px 12px;
}

.blog_sub_container {
    width: 100%;
    display: flex;
}

.blog-content-container {
    display: flex;
    height: 100%;
}

.blog-content-item {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-items: flex-start;
}

.blog-content-img img {
    /* height: 160px;
    width: 300px;
    border-radius: 15px; */
    height: 176px;
    width: 316px;
    /* width: 300px; */
    /* width: 347px; */
    border-radius: 15px;
}

.blog-content-title {
    width: max-content;
    /* color: yellow; */
    color: rgba(251, 231, 119, 1);
    font-size: var(--fs-1);
}

.blog-content-desc {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    font-family: sans-serif;
    line-height: 1.4;
    margin-bottom: 5px;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
}

.blog-content-info {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-top: 20px; */
    justify-content: space-evenly;
    height: 100%;

}

.blog-content-btn {
    color: var(--sonic-silver);
    font-size: var(--fs-5);
    font-family: sans-serif;
    text-decoration: none;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .blog_main_container {
        flex-direction: column;
        height: auto;
    }

    .blog_sub_container {
        flex-direction: column;
    }

    .blog-content-container {
        flex-direction: column;
    }

    .blog-content-item {
        align-items: center;
    }

    .blog-content-img img {
        height: auto;
        width: 100%;
    }

    .blog-content-title {
        text-align: center;
    }

    .blog-content-desc {
        text-align: center;
    }

    .blog-content-info {
        align-items: center;
    }

    .blog-content-btn {
        text-align: center;
    }
}