/* .category-item-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    overflow-x: hidden;
    scroll-snap-type: none;
    overscroll-behavior-inline: contain;
}

.category-item-container:hover {
    scroll-snap-type: inline mandatory; 
    overscroll-behavior-inline: contain;
} */

.category-item-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-inline: contain;
    height: 130px;
    gap: 15px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* Make scrollbar transparent by default */
}

.category-item-container:hover {
    scrollbar-color: auto; /* Show scrollbar on hover */
}

.category-item-container > div {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 100%;
}

.category-item-container {
    display: flex;
    justify-content: center;
    /* margin-top: 100px; */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-inline: contain;
    margin: auto;
    width: 90%;
    align-items: center;
}

.category-item-container > div {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    border: 1px solid hsl(0, 0%, 93%);
    border-radius: 10px;
    padding: 5px
}

.category-img-box img {
    height: 84px;
    width: 84px;
    border-radius: 5px;
}

.category-btn {
    text-decoration: none;
    color: rgba(247, 195, 73, 1);
}