:root {
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --border-radius-md: 10px;
    --border-radius-sm: 5px;
    --transition-timing: 0.2s ease;
}




.dodc-content {
    display: flex;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 16px;
}

.dodc-content img {
    height: 450px;
    width: 450px;
}

.dodc-info {
    width: 100%;
}
/* 
.deal_of_day_container h3 {
    margin-bottom: 5px;
    font-size: 20px;
} */

.deal_of_day_container hr {
    margin-bottom: 30px;
}

.showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.showcase-rating {
    color: var(--sandy-brown);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

.showcase-title {
    font-size: 20px;
    color: var(--eerie-black);
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin-bottom: 3px;
    font-family: sans-serif;
}

.showcase-desc {
    color: var(--sonic-silver);
    font-size: var(--fs-4);
    font-weight: var(--weight-300);
    margin-bottom: 10px;
}

.price-box {
    font-size: var(--fs-3);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.product-featured .price {
    color: var(--salmon-pink);
    font-weight: var(--weight-700);
}

.product-featured del {
    color: var(--sonic-silver);
    font-weight: var(--weight-300);
}

.add-cart-btn {
    background: rgba(251, 231, 119, 1);
    padding: 8px 15px;
    color: var(--white);
    font-weight: var(--fs-9);
    font-weight: var(--weight-700);
    text-transform: uppercase;
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    margin-bottom: 15px;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
    width: 200px;
    height: 52px;
    border: none;
}

.showcase-status {
    margin-bottom: 15px;
}

.showcase-status .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-400);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.showcase-status-bar {
    background: var(--cultured);
    position: relative;
    height: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.showcase-status-bar::before {
    position: absolute;
    content: '';
    top: 3px;
    left: 3px;
    height: 4px;
    width: 40%;
    background: rgba(251, 231, 119, 1);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.countdown-desc {
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.countdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
}

.countdown-content {
    padding: 5px;
    background: var(--cultured);
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    text-align: center;
}


/* Mobile styles */
@media (max-width: 768px) {
    .deal_of_day_container {
        display: block;
        margin-top: 930px;
        /* other styles */
    }

    .dodc-content {
        flex-direction: column;
        align-items: center;
        /* margin-top: 930px; */
    }

    .dodc-content img {
        height: auto;
        width: 100%;
    }

    .dodc-info {
        margin-top: 20px;
    }

    .showcase-content {
        align-items: center;
    }

    .showcase-rating {
        justify-content: center;
    }

    .showcase-title {
        text-align: center;
        font-size: 0.875rem;
        width: 100%;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .showcase-desc {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .price-box {
        justify-content: center;
    }

    .add-cart-btn {
        max-width: 300px;
        width: 245px;
    }

    .showcase-status .wrapper {
        flex-direction: column;
    }

    .countdown {
        justify-content: center;
    }

    .countdown-content {
        width: 100%;
    }
}