footer {
    background: hsl(0, 0%, 13%);
    /* height: 500px; */
    /* max-height: 700px; */
    /* height: fit-content; */
    /* height: 700px; */
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Brand-category {
    /* display: flex;
    width: 70%;
    flex-direction: column;
    height: 50%;
    justify-content: space-around; */

    display: flex;
    width: fit-content;
    flex-direction: column;
    height: 25%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-around;
}

.footer-category-title {
    color: hsl(44.86deg 100% 72.97%);
}

.category-box-title {
    color: hsl(0, 0%, 60%);
    display: flex;
    align-items: center;
    width: 80px;
}

.footer-category-box a {
    color: grey;
    border-right: 1px solid white;
    padding-right: 12px;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
}

.footer-category-box {
    display: flex;
    gap: 10px;
}

.footer-nav {
    height: 320px;
    width: 90%;
}

.popular-categories {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-nav-list {
    width: 320px;
    list-style: none;
}