.product_container {
    margin-top: 100px;
    width: 100%;
}

.pc-sub-container {
    margin: auto;
    width: 90%;
}

.side-bar {
    gap: 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sidebar-category {
    width: 400px;
    border: 1px solid hsl(0, 0%, 93%);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-bar-top {
    font-size: 30px;
    color: #676767;
}

.sidebar-category ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-category-ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar-category ul li {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-title {
    font-size: 26px;
    margin-left: 8px;
    color: #676767;
}

.menu-title-flex {
    display: flex;
    align-items: center;
}

.menu-title-img-plus img {
    height: 20px;
}

.sideBar-bestSellers {
    width: 400px;
    height: fit-content;
    /* height: 500px; */
    /* border: solid 1px grey; */
    border-radius: 10px;
}

.sidebar-best-seller-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */
    height: fit-content;
    gap: 12px;
}

.bestseller-title-flex {
    height: 100%
}

.bestseller-li {
    height: 98px;
    border: 1px solid lightgray;
    border-radius: 15px;
    width: 100%;
    padding: 10px;
}

