.side-body {
    width: 73%;
}

.product_box_container {
    width: 100%;
    max-height: 400px;
}

.product-minimal-list {
    display: flex;
    justify-content: space-around;
}

.product-showcase {
    overflow-x: auto;
}

.product-box-titles {
    width: 400px;
}

.showcase-img-wrap img {
    height: 70px;
}

.showcase {
    display: flex;
    width: 300px;
    background: red;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid lightgray;
}
