:root {

    /**
     * colors
     */
  
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
  
    /**
     * typography
     */
  
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;
  
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
  
    /**
     * border-radius
     */
  
    --border-radius-md: 10px;
    --border-radius-sm: 5px;
  
    /**
     * transition 
     */
  
    --transition-timing: 0.2s ease;
  
  }
  



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner_images_container {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: none; /* No scroll snapping by default */
    overscroll-behavior-inline: contain;
    max-width: 1350px;
    margin: 0 auto;
    gap: 30px;
    padding: 10px;
    margin-bottom: 50px;
}

.banner_images_container:hover {
    overflow-x: auto;
    scroll-snap-type: inline mandatory; /* Enable scroll snapping on hover */
}

.img-container {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 100%;
    height: 400px;
    overflow: auto hidden;
}

.banner-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* This applies to the .banner_images_container only */
.banner_images_container::-webkit-scrollbar {
    height: 10px; /* Slimmer scrollbar */
}

.banner_images_container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
    border-radius: 25px;
}

.banner_images_container::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.5); /* More transparent grey color */
    border-radius: 25px;
}

.banner_images_container::-webkit-scrollbar-thumb:hover {
    background: rgba(167, 167, 167, 0.5); /* More transparent grey color on hover */
}

.product-hr {
    width: 300px;
}

@media only screen and (max-width: 600px) {
    .banner_images_container {
      max-width: 100%;
      overflow-x: scroll; /* Enable horizontal scrolling on smaller screens */
    }
  
    .img-container {
      height: 200px; /* Adjust the height of the images for smaller screens */
    }

    .product-hr {
        width: 100%;
    }
  }